body {
    overflow-x: hidden;
}

.header {
    height: max-content;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.main {
    padding: 20px;
}

.franchise {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 1.5rem;
    font-weight: 700;
}

.franchise img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.franchise:hover {
    background-color: rgba(0, 0, 0, 0.11);
    color: blue;
}


[data-theme="dark"] .franchise:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

[data-theme="dark"] {
    background-color: #111;
    color: #fff;
}


[data-theme="dark"] .books {
    background-color: #111;
    color: #fff;
}

[data-theme="dark"] .header {
    border-bottom: 2px solid #fff;
}

[data-theme="dark"] a {
    color: #fff;
}

.franchise-infobox {
    display: grid;
    grid-template-columns: .5fr 1.9fr;
    gap: 1rem;
}

.franchise-image img {
    width: 220px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.info-box {
    font-weight: 690;
}

.franchise-info a:hover {
    color: blue;
}

[data-theme="dark"] .franchise-info a:hover {
    color: blue;
}


.book-list img {
    width: 220px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.books-list {
    position: relative;
    overflow: hidden;
    margin-left: .72rem;
    margin-right: .72rem;
}

.title {
    display: flex;
    gap: .72rem;
    align-items: center;
}

.phase {
    font-weight: 700;
    font-size: 1.5em;
}

.phase-name {
    font-weight: 500;
    font-size: 1em;
    color: rgb(132, 132, 132);
}


.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    align-items: center;
}

.book > img {
    border-radius: 25%;
}

.caption {
    text-align: center;
    color: grey;
    font-style: italic;
}

@media screen and (min-width: 414px) {
    .book-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .franchise-cover img {
        width: 120px;
    }
    
    .franchise-info-box {
        grid-template-columns: 1fr;
    }

    body {
        overflow-x: hidden;
    }

}