.contact-page {
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

.header {
    height: max-content;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}


[data-theme="dark"] {
    background-color: #111;
    color: #fff;
}

form {
    padding: 10px;
}

input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 0.5rem;
    background: none;
}

[data-theme="dark"] .header {
    border-bottom: 2px solid #fff;
}

form button {
    width: max-content;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #0000ff;
    border-radius: 0.5rem;
    background: none;
    color: #0000ff;
    text-align: center;
}